//Borders
$headerBorder:#D7DDE9;
$todoBorder:#1018280D;

//bg
$background:#FFFFFF;
$hover:#F7F9FD;

//Buttons
$AddBtn1:#0796D3;
$addBtn2:#53C0F0;
$cancelBtn:#E7EEFB;
$deleteBtn1:#D30707;
$deleteBtn2:#F05353;

//texts Colors
$normalTxt:#0000008A;
$titleTxt:#000000;
$logoTitle:#101828;
