@import '../../styles/variables.scss';
@import '../../styles/Mixin.scss';

.header{
    border-bottom: 1px solid $headerBorder;
    width: 90%;
    height: 60px;
    margin:24px 56px 0 56px;
    padding: 0 0 24px 0;
    display: flex;
    @include mediaCell{
        height: 114px;
        flex-direction: column;
        width: 272px;
        margin: 0;
    }
}

.headerWrapper{
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mediaCell{
        height: 90px;
    }
}

.headerWrapper > h1 {
    font-size: 24px;
    width: 33%;
    font-weight: 500;
    color: $titleTxt;
    text-align: right;

    @include mediatablet{
        font-size:18px
    }

    @include mediaCell{
        width: 100%;
        text-align: left;
        font-size: 16px;
    }
}